/* CSS reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* End reset */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
    --primary-desatured-red: hsl(0, 36%, 70%);
    --primary-soft-red: hsl(0, 93%, 68%);
    --neutral-dark-grayish-red: hsl(0, 6%, 24%);
    --neutral-gradient-linear: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --primary-gradient-linear: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.hero__img--mobile{
    width: 100vw;
}
.hero__img--mobile > img{
    width: 100%;
    object-fit: cover;
}

.hero__logo{
    padding: 3em;
}

.hero__left__content{
    margin-top: 2em;
    padding: 3em;
    text-align: left;
}

.hero__left__title{
    text-transform: uppercase;
    font-size: clamp(2.5rem, 5vw, 5.35rem);
    line-height: 1.1;
    text-align: center;
    line-break: auto;
    letter-spacing: 0.75rem;
}

.hero__left__title--thin{
    font-weight: 300;
    color: var(--primary-desatured-red);
}

.hero__left__greetings{
    margin-top: 1em;
    text-align: center;
    color: var(--primary-desatured-red);
}

.hero__left__form{
    margin-top: 3em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.input::placeholder{
    color: var(--primary-desatured-red);;
}

/* input styles */

.input{
    width: 100%;
    position: relative;
    padding: 0.8em 1.5em;
    border: 1.75px solid var(--primary-desatured-red);
    background: none;
}

.input__help-text{
    display: none;
    margin-top: .5em;
    margin-left: 1em;
    color: var(--primary-soft-red);
}

.input:focus{
    outline: none;
}

.input--rounded{
    border-radius: 25px;
}

.input:invalid{
    outline: var(--primary-soft-red) solid 1px;
}

.input:invalid ~ .icon--error{
    content: url(../images/icon-error.svg);
    position: absolute;
    bottom: 2.875em;
    right: 80px;
}

.input:invalid ~ .input__help-text {
    display: block;
}

/* end input styles */

/* button styles */

.button{
    position: absolute;
    top: 0px;
    right: -1px;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    
    background-image: var(--primary-gradient-linear);
}

.button--rounded{
    border-radius: 30px;
    box-shadow: 1px 8px 10px var(--primary-desatured-red) ;
}

.button:hover{
    background-image: var(--neutral-gradient-linear);
    box-shadow: 1px 10px 20px var(--primary-desatured-red) ;
    cursor: pointer;
}

/* end button styles */

.hero__right__img--desktop{
    display: none;
    overflow: hidden;
}

@media screen and (max-width: 640px) {
    .hero__left__content{
        padding: 2em;
    }
}

@media screen and (min-width: 700px) {

    .container{
        height: 100%;
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        
    }

    .hero__left__wrapper{
        width: 100%;
        height: 100%;
        background: url(../images/bg-pattern-desktop.svg) no-repeat;
        background-size: cover;
    }

    .hero__left{
        max-width: 40em;
        margin: 0 auto;
    }

    .hero__logo{
        padding-top: 4em;
    }

    .hero__left__content{
        margin-top: 5em;
    }

    .hero__left__greetings{
        text-align: left;
    }

    .hero__left__title{
        text-align: left;
    }

    .hero__img--mobile{
        display: none;
    }

    .hero__right__img--desktop{
        display: block;
    }

    .hero__right__img--desktop > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}